/*
Este archivo se renombró, su ext era css y se cambió a scss, para ilustrar bien el video 233
Scss, sass, son formas de programar SASS
Lo primero que hicimos es instalar el loader
         npm install --save-dev sass-loader
Despues modificamos el webconfig -> webpack.config.js
instalamos  tambien
        npm install -g node-sass, de manera global 
        npm install --save-dev node-sass, y también solo al proyecto
*/
$primario: cornflowerblue;
$secundario: white;

#clientes {
  list-style: none;
  padding: 0;
  li {
    padding: 1rem;
    font-size: 1.4rem;
    background-color: $primario;
    color: $secundario;

    &:nth-child(2n + 1) {
      background-color: $secundario;
      color: $primario;
    }
  }
}
